.header {
  height: 100px;
  background-color: rgb(136, 136, 230);
}

.links {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.link {
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
}

.active {
  text-decoration: none;
  background-color: #fff;
  border: 2px solid gray;
  color: gray;
  padding: 5px;
  border-radius: 5px;
}
