
 




input {
  margin: 10px 0;
  width: 100%;
  background-color: rgb(136, 136, 230);;
  border: 2px solid gray;
  border-radius: 5px;
  height: 35px;
  width: 100%;
  padding: 0 10px;
  font-size: 0.9rem;

  &:focus {
    outline: none;
    border: 2px solid lightgray;
  }
}

span {
  color: lightblue;
}
